:root {
  --light-bg: #FFFFFF;
  --tomato: tomato;
  --pure-dark: rgb(0, 0, 0);
  --gold: gold;
  --dark: #313338;
  --white: #FFFFFF;
  --gray-100: #F5F5F5;
  --crimson: #DC143C;
 
  --int-gray: 23 23 23;
 
 }