:root {
    --profile-dark-bg: var(--dark);
    --profile-dark-color: var(--white);
    --profile-dark-box: var(--pure-dark);

    --profile-light-bg: var(--white);
    --profile-light-box: rgba(var(--int-gray) / 0.1);

    --profile-btn-hover-bg: #6c2bd9;
    --profile-btn-hover-border-color: #6c2bd9;
    --profile-btn-active-color: #fff;
    --profile-btn-active-bg: #6c2bd9;
    --profile-btn-active-border-color: #6c2bd9;
    --profile-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.f-center {
    display: flex;
    justify-content: center;
}

.profile {
    display: grid;
    place-content: center;
    place-items: center;
    gap: 1rem;
    padding: 5rem;
    width: 100%;
    max-width: 1000px;
}

.profile__section--margin {
    margin-top: 2%;

}

.profile__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.profile--dark {
    background-color: var(--profile-dark-bg);
    color: var(--profile-dark-color);
    box-shadow: 0px 1px 1px var(--profile-dark-box);
}

.profile--light {
    background-color: var(--profile-light-bg);
    box-shadow: 0px 1px 1px var(--profile-light-box);

}

.button {
    color: var(--profile-btn-active-color);
    background-color: var(--profile-btn-active-bg);
    border: 1px solid var(--profile-btn-border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: var(--profile-btn-active-shadow);
    transition: opacity 1s 0s ease-out;
}

.button:disabled {
    color: var(--profile-btn-disabled-color);
    background-color: var(--profile-btn-disabled-bg);
    border-color: var(--profile-btn-disabled-border-color);
    pointer-events: none;
    opacity: .65;
}

.button:hover {
    opacity: 0.5;
}

@media (max-width: 1000px) {
    .profile--mx-w {
        max-width: 90%;
    }
}