.btn {
    font-size: calc(var(--scale, 1) * 1rem);
    padding: .5em 1.25em;  
    /* background-color: orangered; */
    border: 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    cursor: pointer;
}
.btn-xxs { --scale: .55; }
.btn-xs { --scale: .75;  }
.btn-sm { --scale: .9;   }
.btn-lg { --scale: 1.3;  }
.btn-xl { --scale: 1.65; }

.btn__dark {
    background-color: var();
    color: white;
}