.text--center {
    text-align: center;
}

.post__list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-bottom: 2rem;
}

.font--size__2 {
    font-size: 2rem;
}

.color--dark {
    color: var(--white);
}

.color--white {
    color: var(--pure-dark);
}

@media (max-width: 350px) {
    .post__list {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-bottom: 2rem;
    }
}