:root {
    --card-dark-bg: var(--dark);
    --card-dark-color: var(--white);
    --card-dark-box: var(--pure-dark);

    --card-light-bg: var(--white);
    --card-light-box: rgba(var(--int-gray) / 0.1);

    --card-btn-hover-bg: #6c2bd9;
    --card-btn-hover-border-color: #6c2bd9;
    --card-btn-active-color: #fff;
    --card-btn-active-bg: #6c2bd9;
    --card-btn-active-border-color: #6c2bd9;
    --card-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.card {
    display: grid;
    gap: 1rem;
    line-height: 2rem;
    place-content: center;
    place-items: center;
    border: 1px solid black;
    padding: 1rem;
}

.card__body {
    padding: 2rem;
}

.card__title {
    font-size: 2rem;
    font-weight: bold;
}

.card__date {
    opacity: 0.5;
}

.card__form {
    display: flex;
    box-shadow: none;
}

.card__button {
    color: var(--card-btn-active-color);
    background-color: var(--card-btn-active-bg);
    border: 1px solid var(--card-btn-border-color);
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: var(--card-btn-active-shadow);
    transition: opacity 1s 0s ease-out;
}

.card__button:hover {
    opacity: 0.5;
}

.card--dark {
    background-color: var(--card-dark-bg);
    color: var(--card-dark-color);
    /* width: 800px; */
}

.card--light {
    background-color: var(--card-light-bg);
    color: var(--card-light-color);
}