:root {
    --header-dark-bg: var(--dark);
    --header-dark-box: var(--pure-dark);

    --header-light-bg: var(--white);
    --header-light-box: rgba(var(--int-gray) / 0.1);

    --btn-dark-bg: var(--pure-dark);
    --btn-dark-color: var(--white);
    --btn-border-dark: var(--white);

    --btn-light-bg: var(--white);
    --btn-light-color: var(--pure-dark);
    --btn-border-light: var(--pure-dark);

    --link-dark-color: var(--white);

    --link-light-color: var(--pure-dark);
}

.header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    padding: 1rem;
}

.header__left, .header__right {
    display: flex;
    gap: 1rem;
}

.header--dark {
    background-color: var(--header-dark-bg);
    box-shadow: 0px 1px 1px var(--header-dark-box);
}

.header--light {
    background-color: var(--header-light-bg);
    box-shadow: 0px 1px 1px var(--header-light-box);

}

.header__btn {
    background: inherit;
    color: inherit;
    border: none;
}

.header__btn, .header__theme {
    padding: 0.5rem;
    border-radius: 10%;

}

.btn--dark, .theme--dark {
    background-color: var(--btn-dark-bg);
    color: var(--btn-dark-color);
    border: 1px solid var(--btn-border-dark);
}

.btn--light, .theme--light {
    background-color: var(--btn-light-bg);
    color: var(--btn-light-color);
    border: 1px solid var(--btn-border-light);
}

.link--dark {
    color: var(--link-dark-color);
}

.link--light {
    color: var(--link-light-color);
}

.center {
    display: grid;
    place-content: center;
    place-items: center;
}

@media (max-width: 768px) {
    .header.pad-1rem {
        padding: 0.5rem;
    }
}