
:root {
    --post-dark-bg: var(--dark);
    --post-dark-color: var(--white);
    --post-dark-box: var(--pure-dark);

    --post-light-bg: var(--white);
    --post-light-color: var(--pure-dark);
    --post-light-box: rgba(var(--int-gray) / 0.1);

    /* --btn-dark-bg: var(--pure-dark);
    --btn-dark-color: var(--white);
    --btn-border-dark: var(--white);

    --btn-light-bg: var(--white);
    --btn-light-color: var(--pure-dark);
    --btn-border-light: var(--pure-dark);

    --link-dark-color: var(--white);

    --link-light-color: var(--pure-dark); */
}

.font--bold__700 {
    font-weight: 700;
}

.opacity--08 {
    opacity: 0.8;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.post, .comment {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fill, minmax(500px, 100%));
    gap: 2rem;
    width: 100%;
    max-width: 50%;
    padding: 2rem;

}

.post__cover {
    display: flex;
    justify-content: center;
    height: 200px;
}

.cover--image {
    width: 50%;
    object-fit: fill;
}

.post__meta {
    display: grid;
    gap: 0.5rem;
}

.post__tags {
    display: flex;
    gap: 1rem;
}

.comment__count {
    display: grid;
    place-content: center;
    font-size: 1.5rem;
}

.post--dark, .comment--dark {
    color: var(--post-dark-color);
    background-color: var(--post-dark-bg);
    box-shadow: 0px 1px 1px var(--post-dark-box);
}

.post--light, .comment--light {
    color: var(--post-light-color);
    background-color: var(--post-light-bg);
    box-shadow: 0px 1px 1px var(--post-light-box);
}

@media (max-width: 1200px) {
    .mw-90 {
        max-width: 90%;
    }
    .w-90 {
        width: 90%;
    }
}