:root {
  --app-dark-bg: var(--pure-dark);
  --app-light-bg: var(--gray-100);
}

.app {
  display: grid;
  min-height: 100dvh;
  max-width: 100dvw;
  position: relative;
}

.main {
  margin-bottom: 2rem;
}

.dark {
  background-color: var(--app-dark-bg);
  /* color: var(--dark-color); */
}

.light {
  background-color: var(--app-light-bg);
  /* color: var(--light-color); */
}