.app {
    display: grid;
    height: 100dvh;
    width: 100dvw;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.button {
    color: var(--bs-btn-color);
    border: 1px solid var(--bs-btn-border-color);
    box-shadow: var(--bs-btn-active-shadow);
}

.button:disabled {
    color: var(--bs-btn-disabled-color);
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    pointer-events: none;
    opacity: .65;
}

.button:hover,.button--active {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}
